# --- База данных ---
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=hibinka_db_dev
DB_HOST=db
DB_PORT=5432
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/hibinka_db_dev

# --- Безопасность ---
SECRET_KEY=change_me_in_production
ALGORITHM=HS256

# --- Frontend ---
CORS_ORIGINS=http://localhost:5173,http://localhost:5175